In [1]:
children =["Andrew","Laura","Joe"]
type(children)

list

In [7]:
children.append("Thomas")

In [3]:
children

['Andrew', 'Laura', 'Joe', 'Thomas']

In [4]:
children.pop(3)
children

['Andrew', 'Laura', 'Joe']

In [5]:
children.index("Joe")

2

In [8]:
print (children)
children.pop(children.index("Thomas"))
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [11]:
print (children)
children.remove("Thomas")
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [13]:
print (children)
children.pop()
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [11]:
print (children)
children.remove('Thomas')
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [3]:
r = range(0,4)
for x in r: print(x)

0
1
2
3

In [12]:
#checking that input is an integer
'Frank' in children

False

In [9]:
import threading
import datetime
# Global lock
global_lock = threading.Lock()
file_contents = []
def write_to_file(inp,imp2):
    while global_lock.locked():
        continue

    global_lock.acquire()
    file_contents.append(str(imp2)+"\t"+str(datetime.datetime.now())+"\t"+str(threading.get_ident())+":"+str(inp))
    global_lock.release()

# Create a 200 threads, invoke write_to_file() through each of them,
# and 
with open("thread_writes", "w") as file:
    file.write('')
    file.close()
threads = []
for i in range(1, 20001):
    for f in range(0,5):
        t2 = threading.Thread(target=write_to_file,args=[-i,f])
        threads.append(t2)
        t2.start()
[thread.join() for thread in threads]

with open("thread_writes", "a+") as file:
    file.write('\n'.join([str(content) for content in file_contents]))
    file.close()

In [71]:
import pandas as pd
import datetime
foo = {0: {'time': '12-19-2021: 17:23', 'time2': '12-19-2021: 18:33', 'planet': 'Jupiter'}, 1: {'time': '12-19-2021: 18:33', 'time2': '12-19-2021: 19:43', 'planet': 'Mars'}, 2: {'time': '12-19-2021: 19:43', 'time2': '12-19-2021: 20:53', 'planet': 'Sun'}, 3: {'time': '12-19-2021: 20:53', 'time2': '12-19-2021: 22:03', 'planet': 'Venus'}, 4: {'time': '12-19-2021: 22:03', 'time2': '12-19-2021: 23:13', 'planet': 'Mercury'}, 5: {'time': '12-19-2021: 23:13', 'time2': '12-20-2021: 00:24', 'planet': 'Moon'}, 6: {'time': '12-20-2021: 00:24', 'time2': '12-20-2021: 01:34', 'planet': 'Saturn'}, 7: {'time': '12-20-2021: 01:34', 'time2': '12-20-2021: 02:44', 'planet': 'Jupiter'}, 8: {'time': '12-20-2021: 02:44', 'time2': '12-20-2021: 03:54', 'planet': 'Mars'}, 9: {'time': '12-20-2021: 03:54', 'time2': '12-20-2021: 05:04', 'planet': 'Sun'}, 10: {'time': '12-20-2021: 05:04', 'time2': '12-20-2021: 06:14', 'planet': 'Venus'}, 11: {'time': '12-20-2021: 06:14', 'time2': '12-20-2021: 07:25', 'planet': 'Mercury'}}
bar = {0: {'time': '12-19-2021: 07:25', 'time2': '12-19-2021: 08:14', 'planet': 'Sun'}, 1: {'time': '12-19-2021: 08:14', 'time2': '12-19-2021: 09:04', 'planet': 'Venus'}, 2: {'time': '12-19-2021: 09:04', 'time2': '12-19-2021: 09:54', 'planet': 'Mercury'}, 3: {'time': '12-19-2021: 09:54', 'time2': '12-19-2021: 10:44', 'planet': 'Moon'}, 4: {'time': '12-19-2021: 10:44', 'time2': '12-19-2021: 11:34', 'planet': 'Saturn'}, 5: {'time': '12-19-2021: 11:34', 'time2': '12-19-2021: 12:24', 'planet': 'Jupiter'}, 6: {'time': '12-19-2021: 12:24', 'time2': '12-19-2021: 13:13', 'planet': 'Mars'}, 7: {'time': '12-19-2021: 13:13', 'time2': '12-19-2021: 14:03', 'planet': 'Sun'}, 8: {'time': '12-19-2021: 14:03', 'time2': '12-19-2021: 14:53', 'planet': 'Venus'}, 9: {'time': '12-19-2021: 14:53', 'time2': '12-19-2021: 15:43', 'planet': 'Mercury'}, 10: {'time': '12-19-2021: 15:43', 'time2': '12-19-2021: 16:33', 'planet': 'Moon'}, 11: {'time': '12-19-2021: 16:33', 'time2': '12-19-2021: 17:23', 'planet': 'Saturn'}}

dt = datetime.datetime.strptime("2021-12-19: 18:33","%Y-%m-%d: %H:%M")

fb = list(bar.values())
for br in list(foo.values()): fb.append(br)
df = pd.DataFrame(fb)
df.columns=["planhr_begin","planhr_end","planet"]
df["planhr_begin"] = pd.to_datetime(df["planhr_begin"],format="%m-%d-%Y: %H:%M")
df["planhr_end"]= pd.to_datetime(df["planhr_end"],format="%m-%d-%Y: %H:%M")
df[df.planhr_begin <= dt][dt < df.planhr_end]

C:\Users\andre\AppData\Local\Temp/ipykernel_13512/1446717013.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.planhr_begin <= dt][dt < df.planhr_end]

          planhr_begin          planhr_end planet
13 2021-12-19 18:33:00 2021-12-19 19:43:00   Mars

In [1]:
import datetime
str(datetime.datetime.now())

'2021-12-18 16:25:50.358340'

In [13]:
'Joe' in children

True

In [14]:
'Joe'[2]

'e'

In [15]:
'k' in children[2]

False

In [16]:
'k' in '1234567890'

False

In [17]:
'1'  in '1234567890'

True

In [21]:
varin = input("add an integer")
print(varin in '1234567890' )

True

In [22]:
varin

''

In [23]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [25]:
type(movies[1])

list

In [26]:
movies[1][0]

'Life of Brian'

In [27]:
students[1][3]

100

In [28]:
flick = []
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
movies.append(flick)
movies

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [29]:
print(movies)

[['The Holy Grail', 1975, 9.99], ['Life of Brian', 1979, 12.3], ['The Meaning of Life', 1983, 7.5], ['Kundun', 1997, 4.7]]

In [30]:
lssimple =[1,2,1,3,2,2,2,2,]

In [31]:
lssimple.index(2)

1

In [32]:
lssimple.count(2)

5

In [33]:
children.reverse()

In [34]:
children

['Joe', 'Laura', 'Andrew']

In [42]:
for child in children:
    child = child.upper()
children

['Joe', 'Laura', 'Andrew']

In [46]:
children.sort(key=str.lower)

In [74]:
children

['Andrew', 'Joe', 'Laura', 'Thomas']

In [111]:
lssimple

[1, 1, 2, 2, 2, 2, 2, 3]

In [43]:
print(min(lssimple))

1

In [44]:
print(max(lssimple))

3

In [45]:
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

[52, 54]
[62, 60, 58, 56, 54, 52]

In [46]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

In [47]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [48]:
inv -= chest
inv

TypeError: unsupported operand type(s) for -=: 'list' and 'list'

In [49]:
chest

['scroll', 'pestle']

In [52]:
inv.pop()

IndexError: pop from empty list

In [53]:
tup =('staff', 'robe', 'scroll', 'pestle')

In [54]:
type(tup)

tuple

In [70]:
tup =(1,"e", 2.6)

In [55]:
a,b,c,d = tup
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

a:  staff
b:  robe
c:  scroll
d:  pestle

In [58]:
a,b,c,d = children
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

a:  Joe
b:  Laura
c:  Andrew
d:  Charles

In [59]:
def dummy_gps():
    x =5
    y = 6
    z = 78
    return x,y,z

In [60]:
gy = dummy_gps()
type(gy)

tuple

In [61]:
a,b,c = dummy_gps()
print("a: ",a)
print("b: ",b)
print("c: ",c)

a:  5
b:  6
c:  78

In [62]:
gy

(5, 6, 78)

In [63]:
childset = {'Andrew', 'Joe', 'Laura', 'Thomas'}

In [64]:
type(childset)

set

In [65]:
'Bob' in childset

False

In [66]:
childset.insert('Wallace')

AttributeError: 'set' object has no attribute 'insert'

In [67]:
child = {'Thomas','Barbara'}

In [68]:
child & childset

{'Thomas'}

In [69]:
child | childset

{'Andrew', 'Barbara', 'Joe', 'Laura', 'Thomas'}

In [70]:
child = {'Thomas','Barbara','Thomas'}
child

{'Barbara', 'Thomas'}

In [71]:
#Python comprehensions
for i in childset:
    print(i)

Thomas
Joe
Laura
Andrew

In [73]:
distinct_lssimple = { i for i in lssimple }
distinct_lssimple

{1, 2, 3}

In [76]:
distinctuple = ( i for i in lssimple )
list(distinctuple)[3]

1

In [109]:
child_list = [g for g in childset]
child_list

['Joe', 'Thomas', 'Andrew', 'Laura']

In [112]:
tf_gt2 = [ i <= 2 for i in lssimple]
tf_gt2

[True, True, True, True, True, True, True, False]

In [80]:
newbundle = zip(lssimple,tf_gt2)
print(list(newbundle))

[(1, True), (2, True), (1, True), (3, False), (2, True), (2, True), (2, True), (2, True)]

In [81]:
pc1 = [(i, i <= 2 ) for i in lssimple]
pc1

[(1, True),
 (2, True),
 (1, True),
 (3, False),
 (2, True),
 (2, True),
 (2, True),
 (2, True)]

In [82]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'a':4}
my_dict

{'a': 4, 'b': 2, 'c': 3}

In [83]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [84]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('a', [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)])])

In [85]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'a'])

In [86]:
my_dict2.values()

dict_values([[1, 3], '2', 3, [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]])

In [91]:
my_dict2['g']

KeyError: 'g'

In [111]:
def sillytry(keyname):
    #exception handling
    #try block
    try:
        value = my_dict2[keyname]
    except KeyError:
        value = 'invalid key'
    finally:
        print('end')
    return value

print(sillytry('e'))

end
[1, 3]

In [93]:
print(sillytry('x'))

invalid key

In [129]:
children[4]

IndexError: list index out of range

In [ ]:
IndexError: list index out of range
KeyError: ''

In [94]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)]}

In [95]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3}

In [97]:
my_dict2.setdefault('h','newerdata')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'h': 'newerdata'}

In [98]:
value = my_dict2.get('f')
print(value is None)

True

In [99]:
type(my_dict2.get('f'))

NoneType

In [145]:
my_dict2.values()

dict_values([[1, 3], '2', 3, 'newdata'])

In [146]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'h'])

In [147]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('h', 'newdata')])

In [149]:
my_dict2['e']

[1, 3]

In [100]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: e value [1, 3]
key: b value 2
key: c value 3
key: h value newerdata

In [151]:
print(list(my_dict2))

['e', 'b', 'c', 'h']

In [153]:
child_d = dict(pc1)
child_d

{1: True, 2: True, 3: False}

In [101]:
contacts = {
    "Joel":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [102]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [105]:
contacts['Ben']['address']

'1400 Another Street'

In [106]:
contacts.get('Ben').get('address')

'1400 Another Street'

In [107]:
contacts.get('Anne').get('email')

In [120]:
members = ["John Cleese", "Eric Idle","Terry Jones"]
with open("members.txt", "w") as file:
    for m in members:
        file.write(m + "\n")          # adds new line

In [118]:
!head members.txt

John Cleese
Eric Idle
Terry Jones
John Cleese
Eric Idle
Terry Jones

In [121]:
pc1

[(1, True),
 (2, True),
 (1, True),
 (3, False),
 (2, True),
 (2, True),
 (2, True),
 (2, True)]

In [122]:
print(pc1[0][0]," ",pc1[0][1])

1   True

In [123]:
with open("pc1.txt", "w") as file:
    for m in pc1:
        file.write(str(pc1[0][0])+" "+str(pc1[0][1]) + "\n")          # adds new line

In [124]:
!head pc1.txt

1 True
1 True
1 True
1 True
1 True
1 True
1 True
1 True

In [196]:
import csv

with open("pc1.csv", "w", newline="") as file:
    writer = csv.writer(file,delimiter= "~",)
    writer.writerows(pc1)

TypeError: 'builtin_function_or_method' object is not iterable

In [203]:
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
        writer.writerow(str(x)+str(my_dict2[x]))

In [112]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 0CF2-974E

 Directory of c:\2021_02_CCT_WE\drew.minkin@divergence.one\Day 2

05/09/2021  04:43 PM    <DIR>          .
05/09/2021  04:43 PM    <DIR>          ..
05/09/2021  04:31 PM            36,200 Day 2 Examples.ipynb
05/09/2021  03:00 PM               336 Day2_TODO.py
05/09/2021  03:25 PM             1,324 future_value.py
05/09/2021  07:31 AM             1,091 movie.py
05/09/2021  02:17 PM    <DIR>          wizard_file_io
               4 File(s)         38,951 bytes
               3 Dir(s)  221,888,032,768 bytes free

In [200]:
my_dict2['a']

[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]

In [191]:
csv.writer?

In [208]:
def calculate_future_value(monthly_investment, yearly_interest, 
                           years):
    # convert yearly values to monthly values
    monthly_interest_rate = yearly_interest / 12 / 100
    months = years * 12

    # calculate future value
    future_value = 0.0
    for i in range(1, months): 
        future_value += monthly_investment_amount
        monthly_interest = future_value * monthly_interest_rate
        future_value += monthly_interest

    return future_value